* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:sans-serif;
    
}

body {
    background: rgb(0, 255, 12);
    background: linear-gradient(90deg, rgba(0, 255, 12, 1) 0%, rgba(2, 166, 23, 1) 100%);
}

#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/banner.png");
    height: 40em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

.container{
max-width: 1140px;
margin: 0 auto;
padding-left:15px;
padding-right:15px;
}

/* CABEÇALHO INICIO */

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 65px;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    padding: 30px;
}

#menu ul li a{
    color: #fff;
    font-size: 17px;
}

#textoBack{
    color: #fff;
    text-align:center;
    margin-top: 30px;
}

#botaoMenu a{
    color:#fff;
}

#botaoMenu a {
    margin: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 2px solid #fff;
}

/* FIM CABECALHO */

/* INICIO MENU DE BUSCA */

.space-title{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin:50px 0px;
}

#menuBusca{
    background-color:rgba(0, 173, 52, 0.596);
    position: relative;
    border-radius: 15px;
    height: 250px;
    box-shadow: 2px 4px 10px;
    display: flex;
    justify-content: center;
}

#imgBusca{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.cep h3{
    color:#fff;
    margin-top: 20px;
    font-size: 25px;
}

.cep input{
    box-shadow: 2px 2px 4px;
    padding: 10px 200px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}

.botao-busca{
    background-color: #008127;
    padding: 10px 50px ;
    margin-left: 400px;
    border-radius: 10px;
    border: none;


}

 #barraBusca{
    
    display: flex;
    flex-direction: column;
 }

 #rodape {
    background-color: #fff;
    border-top: 2px solid black;
    margin-top: 50px;
    padding-top: 30px;
   

}

#linhaRodape{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.rodape1 ul li{
    padding: 5px;
    display: flex;
    

}