* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family:sans-serif;
    
}

body {
    background: linear-gradient(90deg, rgb(37, 208, 34) 0%, rgb(0, 207, 21) 100%);
}

#banner{
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/banner.png");
    height: 40em;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
max-width: 1140px;
margin: 0 auto;
padding-left:15px;
padding-right:15px;
}

/* CABEÇALHO INICIO */

#cabecalho {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
    height: 65px;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    padding: 30px;
}

#menu ul li a{
    color: #fff;
    font-size: 17px;
}

#textoBack{
    color: #fff;
    text-align:center;
    margin-top: 30px;
}

#botaoMenu a{
    color:#fff;
}

#botaoMenu a {
    margin: 15px;
    padding: 5px 15px 5px 15px;
    border-radius: 5px;
    border: 2px solid #fff;
}

#textoBack{
    display: flex;
    flex-direction: column;
}

.texto1{
    font-size: 20px;
    margin-top: 80px;
    text-align: left;
    color: #fff;
}

.texto2{
    margin-top: 250px;
    text-align: right;
    color: #ffffffb0;
    font-weight: bold;
}

/* FIM CABECALHO */

/* INICIO MENU DE BUSCA */

.space-title{
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin:50px 0px;
    padding-top: 120px;
    text-shadow: 5px 3px 15px black;
}

#menuBusca{
    background-color:rgba(0, 173, 52, 0.596);
    position: relative;
    border-radius: 15px;
    height: 250px;
    box-shadow: 8px 10px 40px;
    display: flex;
    justify-content: center;
}

#imgBusca{
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.cep h3{
    color:#fff;
    margin-top: 20px;
    font-size: 25px;
}

.cep input{
    box-shadow: 2px 2px 4px;
    padding: 10px;
    width: 600px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
    
}

.botao-busca{
    background-color: #008127;
    padding: 10px 50px ;
    margin-left: 380px;
    border-radius: 10px;
    border: none;
    margin-top: 13px;
    color: #fff;
    box-shadow: 1px 1px 5px #000;
    font-size: 18px;

}

 #barraBusca{
    
    display: flex;
    flex-direction: column;
 }

 /* FIM DO MENU DE BUSCA */

 /* COMEÇO DO MAPA */

 #cepMapa input{
    border: 2px ;
    border-radius: 10px;
    background-color: #008127;
    color: #000;
    padding-bottom: 20px;
    margin-left: 20px;
    font-size: 15px;
    
 }

 #cepMapa input::placeholder {
    color: #fff;
 }
 
 .cep input::placeholder {
    
    color: #000;
 }

 #mapa iframe{
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 6px 18px;
 }

 #legenda-mapa ul{
    display: flex;
    justify-content: center;
    
 }

 #legenda-mapa ul li{
    padding: 20px;
    font-size: 20px;
    color: #fff;
    text-shadow: 0px 3px 20px black;
 }

 /* #legenda-mapa i{
    color: red; 
}*/

#legenda-mapa pin1{
    color: #000;
}

/* FIM DO MAPA */


/* INICIO DOS PARCEIROS */

#parceiros{
    display: flex;
    justify-content: space-between;
    
}

#parceiros img{
    border: none;
    border-radius: 10px;
    width: 160px;
}

/* FIM DOS PARCEIROS */