/* ZERAR BORDAS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}



body {
    background: linear-gradient(90deg, rgb(37, 208, 34) 0%, rgb(0, 207, 21) 100%);
}

/* BANNER HOME */
#banner {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/banner.png");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

/* CABEÇALHO INICIO */

.imghome {
    margin-top: 15px;
}

#cabecalho {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    height: 65px;
}

#menu ul {
    display: flex;
    list-style: none;
}

#menu ul li {
    margin-top: 40px;
    padding: 30px;
}

#menu ul li a {
    color: #fff;
    font-size: 17px;
}

#textoBack {
    color: #fff;
    text-align: center;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}

.texto1 {
    font-size: 20px;
    margin-top: 80px;
    text-align: left;
    color: #fff;
}

.texto2 {
    margin-top: 250px;
    text-align: right;
    color: #ffffffb0;
    font-weight: bold;

}

#menu a:hover {
    font-weight: bold;
    text-shadow: 1px 1px 4px#fff;
}

/* FIM CABECALHO */



/* INICIO MENU DE BUSCA */

.space-title {
    text-align: center;
    color: #fff;
    font-size: 2em;
    margin: 50px 0px;
    text-shadow: 5px 3px 15px #5c5c5c;
}

#menuBusca {
    background-color: rgba(0, 173, 52, 0.596);
    position: relative;
    border-radius: 15px;
    height: 280px;
    box-shadow: 8px 10px 30px #454444;
    display: flex;
    justify-content: center;
    width: 900px;
    
}

#fundo-principal-2{
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
}

#imgBusca {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.cep h3 {
    color: #fff;
    margin-top: 25px;
    font-size: 20px;
    text-shadow: 5px 5px 10px #5c5c5c;
}

.cep input {
    box-shadow: 2px 2px 4px #646464;
    padding: 10px;
    width: 600px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 10px;
}

.botao-busca {
    background-color: #008127;
    padding: 10px 50px;
    margin-left: 380px;
    border-radius: 10px;
    border: none;
    margin-top: 13px;
    color: #fff;
    box-shadow: 1px 1px 5px #000;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

#barraBusca {
    display: flex;
    flex-direction: column;
}

/* FIM DO MENU DE BUSCA */

/* COMEÇO DO MAPA */

.space-title-2{
    padding-top: 50px;
    text-align: center;
    color: #333232;
    font-size: 2em;
    margin: 50px 0px;
}

#mapa iframe {
    width: 100%;
    border-radius: 20px;
    box-shadow: 4px 6px 15px #686868;
}

#legenda-mapa ul {
    display: flex;
    
}

#legenda-mapa ul li {
    padding: 20px;
    font-size: 18px;
    color: #000;
    text-shadow: 0px 3px 20px #8d8c8c;
    padding-bottom: 60px;
}

.red i {
    color: red;
}

.blue i {
    color: blue;
}

.black i {
    color: rgb(122, 115, 115);
}



/* FIM DO MAPA */


/* INICIO DOS PARCEIROS */

#parceiros {
    display: flex;
    justify-content: space-between;
}

#parceiros img {
    border: none;
    border-radius: 10px;
    width: 120px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
}

.bolinha {
    justify-content: center;
    margin: 50px;
    display: flex;
}

.bolinha p {
    background-color: #fff;
    color: #fff;
    border-radius: 30px;
    padding: 0px 5px;
    margin: 0px 5px;
    font-size: 10px;
}

#fundo-principal-3{
    height: 350px;
}

#fundo-principal-3 h2{
    padding-top: 50px;
}

/* FIM DOS PARCEIROS */

/* INICIO RODAPÉ */

#rodape {
    background-color: #fff;
    border-top: 3px solid #ccc;
    margin-top: 50px;
    padding-top: 30px;
}

#linhaRodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-bottom: 20px;
}

.icones a {
    color: #000;
    font-size: 40px;
    margin-left: 5px;
}

.contatoFlex {
    display: flex;
    font-size: 18px;
    padding: 5px;
}

.contatoFlex i {
    padding-right: 5px;
}

footer a:hover {
    color: #000;
    font-weight: bold;
}

footer a {
    color: #000;
}

footer h3 {
    font-size: 25px;
}

.rodape1 li {
    font-size: 18px;
    padding-top: 5px;
}

/* FIM RODAPE */

/* INICIO SOBRE NOS */

/* cabeçalho inicio */
#banner2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/bannersobrenos.svg");
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#cabesobre {
    background-color: #fff;
    padding-bottom: 73px;
}

#menu1 ul {
    display: flex;
    list-style: none;

}

#menu1 ul li {
    margin-top: 40px;
    padding: 30px;
}

#menu1 ul li a {
    color: #000;
    font-size: 17px;
}

#menu1 a:hover {
    font-weight: bold;

}

/* cabeçalho fim */

#sobreNos {
    display: flex;
    margin-top: 90px;

}

#textoSobre {
    background-color: #fff;
    padding-top: 40px;
    padding-bottom: 50px;
}

#textoSobre p {
    font-size: 25px;
    color: #333232;
    margin-bottom: 5px;
}

#sobre1 {
    font-size: 50px;
}

#sobre2 {
    font-size: 28px;
    color: #fff;
    padding-top: 90px;
    padding-bottom: 40px;
    text-align: center;
    font-weight: bold;
    text-shadow: 1px 1px 5px #8d8c8c;
}

.sobre3 {
    font-size: 25px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 30px;
    text-shadow: 1px 1px 10px #8d8c8c;

}

.sobre4 {
    font-size: 18px;
    margin-left: 15px;
    margin-bottom: 30px;
    text-align: justify;
    text-shadow: 1px 1px 4px #bdbdbd;
    color: #fff;
}

#borderSobre {
    border: 2px solid #fff;
    margin-top: 50px;
}

#imgSobrenos img {
    /* background-image: url("../img/junto-contralixo.png"); */
    background-repeat: no-repeat;

}

#arrumar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* FIM DO SOBRE NOS */

/* INICIO PARCEIROS */

#branco {
    background-color: #fff;
}

.space-title2 {
    text-align: center;
    color: #464646;
    font-size: 28px;
    margin: 30px 0px;
}

#banner3 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.4)), url("../img/bannerparceiro.svg");
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#parceiro1 {
    font-size: 50px;
}

#textoParceiro p {
    font-size: 25px;
    color: #201f1f;
    margin-bottom: 5px;
    margin-top: 40px;
    text-align: center;
}

#menuBusca1 {
    background-color: rgb(2, 204, 63);
    position: relative;
    border-radius: 15px;
    height: auto;
    box-shadow: 8px 10px 30px #454444;
    display: flex;
    justify-content: center;
    padding: 20px 0px;
}

#imgBusca1 {
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 10px;
}

.cep1 h3 {
    color: #fff;
    margin-top: 20px;
    font-size: 25px;
    margin-left: 10px;
}

.cep1 input {
    box-shadow: 2px 2px 4px #646464;
    padding: 10px;
    width: 600px;
    background-color: #fff;
    border-radius: 7px;
    border: none;
    margin-top: 5px;
}

.botao-busca1 {
    background-color: #008127;
    padding: 10px 50px;
    margin-left: 380px;
    border-radius: 10px;
    border: none;
    margin-top: 13px;
    color: #fff;
    box-shadow: 1px 1px 5px #000;
    font-size: 18px;
    cursor: pointer;
    font-weight: bold;
}

/* FIM */

/* COMEÇO PAGINA EDUCATIVA */

#banner4 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.144)), url("../img/educativobanner.svg");
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

#educativo {
    display: flex;
    margin-top: 100px;
    justify-content: center;
}

#imgEducativo img {
    border-radius: 30px 0px 30px 0px;
    margin-right: 50px;

}

#educativo1 {
    display: flex;
    flex-direction: column;
    text-align: justify;

}

#educativo1 p {
    margin-top: 40px;
    font-size: 20px;
    color: #636262;
}

#educativo h3 {
    margin-top: 40px;
    font-size: 30px;

}

#bordaEducativo {

    margin-top: 70px;
    padding-bottom: 70px;
    border-top: 3px solid #05e949
}

.educativocentralizar {
    text-align: center;
    margin-top: 100px;
}

#eduTxt1 {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 30px;
    color: #fff;
    text-shadow: 1px 1px 4px #888888;
}

#eduBack {
    background-color: #ffffff;
    border-radius: 30px 10px;
    padding: 20px;
    box-shadow: 3px 3px 10px #636262;
    display: flex;
    justify-content: center;

}

#ajuda1 h4 {
    margin-left: 5px;
    font-size: 20px;
    margin-top: 20px;

}

#ajuda1 p {
    margin-top: 3px;
    margin-left: 15px;
    padding-right: 60px;
}

.eduTxt3 {
    font-size: 15px;
    text-align: justify;
}

#ajuda1 {
    margin-top: 20px;
    margin-bottom: 20px;
    width: 90%;
}

.flextio {
    display: flex;
    justify-content: space-around;
}

.ajuda2 {
    margin-top: 40px;
}

.flextio img {
    margin-top: 55px;
    margin-right: 5px;
}

#bordaEducativo2 {
    margin-top: 70px;
    padding-bottom: 60px;
    border-top: 3px dashed #000
}

/* FIM */

/* INICIO CATEGORIAS */

#banner5 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.582), rgba(0, 0, 0, 0.144)), url("../img/educativobanner.svg");
    height: 220px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.categoria1 {
    padding: 100px 0px;
    font-size: 35px;
}

.categoria2 {
    text-align: center;
    padding-bottom: 5px;
    font-size: 30px;
    color: #2e2e2e;
}

.categoria3 {
    padding: 0px 50px;
    font-size: 20px;
    margin-top: 5px;
    padding-bottom: 50px;
}

.fundoTxt {
    border-radius: 0px 20px 0px 20px;
    box-shadow: 1px 1px 10px #464646;
    background-color: #fff;
}

.categoriaTxt {
    display: flex;

}

.categoriaTxt img {
    width: 200px;
    margin-left: 50px;
}

#arrumatop {
    margin-top: 90px;
}

.fundoTxt h4 {
    padding: 5px 35px;
    margin-top: 35px;
    font-size: 25px;
}

.fundoTxt p {
    padding: 5px 35px;
    text-align: justify;
    font-size: 18px;
    padding-right: 22px;
}

#imgcategoria {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#imgcategoria img {
    border-radius: 8px;
    box-shadow: 1px 1px 4px #464646;
}

#paraArru {
    margin-bottom: 40px;
}

.texto4 {
    background-color: #fff;
    margin-top: 50px;
    padding: 30px;
    border-radius: 20px;
}

.texto4 p {
    margin-bottom: 20px;
}

.texto4 h2 {
    margin-bottom: 20px;
}

#fundo-principal-1{
    background-color: #fff;
}